# For Loops 

A for loop in python act as iterator in python. It goes through the items that qre maintaing sequence or order for example strings, list, tuples, dictionary keys and values.

### Example 1

In [1]:
li = [1, 2, 3, 4, 5, 8, 10, 20, 19, 17, 16]

In [2]:
for num in li:
    newvar = num
    print(num)

1
2
3
4
5
8
10
20
19
17
16

In [3]:
for num in li:
    if num%2 == 0:
        print("{} is Even number".format(num))
    else:
        print("{} is odd number".format(num))

1 is odd number
2 is Even number
3 is odd number
4 is Even number
5 is odd number
8 is Even number
10 is Even number
20 is Even number
19 is odd number
17 is odd number
16 is Even number

In [9]:
personName = "Solo"

if personName == "Solo":
    sum = 0
    for num in li:
        sum = sum + num
    print(sum)
elif personName == "Somendra":
    prod = 1
    for num in li:
        prod = prod*num
    print(prod)
else:
    print("No Match")

105

In [4]:
num

16

In [5]:
newvar

NameError: name 'newvar' is not defined

In [1]:
s = "This is a string" 

for str in s:
    print(str)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [2]:
li = [(1,2), (3, 4), (5,6)]

for t in li:
    print(t)

(1, 2)
(3, 4)
(5, 6)

In [3]:
for (v1, v2) in li:
    print("value 1 of tup is {}, value 2 of tup is {}".format(v1, v2))

value 1 of tup is 1, value 2 of tup is 2
value 1 of tup is 3, value 2 of tup is 4
value 1 of tup is 5, value 2 of tup is 6

In [6]:
n = 5 

spaceCount = n // 2
starCount = 1

for row in range(1, n + 1):

    for spaces in range(1, spaceCount + 1):
        print("\t", end="")
    
    for stars in range(1, starCount + 1):
        print("*\t", end="")

    
    if(row <= n//2):
        starCount += 2
        spaceCount -=1
    else:
        starCount -= 2
        spaceCount += 1
    
    print(end= "\n")

		*
	*	*	*
*	*	*	*	*
	*	*	*
		*

In [7]:
d = {"k1" : 1, "k2" : 2, "k3" : 3}

d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [8]:
for (key, value) in d.items():
    print("key : {}, value : {}".format(key, value))

key : k1, value : 1
key : k2, value : 2
key : k3, value : 3