# Numbers in Python 
    1. Types of number in python 
    2. Basic Arithmetic 
    3. Diffrence between Classic division and floor operator 
    4. Object assignment in python

In [1]:
2 + 3

5

In [2]:
2*3

6

In [3]:
3 - 2

1

In [4]:
3/2 # Forward slash -> division operator

1.5

In [5]:
3//2 # Two forward slashs -> Basically going to do the divison for you and bring you the closest floor value

1

In [6]:
5%2

1

In [7]:
2**3

8

In [8]:
4**2

16

In [9]:
2**32

4294967296

# Variables

In [10]:
a = 10

In [11]:
a

10

In [12]:
a = 2

In [13]:
a

2

In [14]:
a = a + a

In [15]:
a

4

1. Variables names can not start with numbers 
2. There can be no spaces in the name, If you want to use space use _. 
3. Can't use any of the symbol : '",<>/?\()!#$%^&&-+
4. According to python : Its better to use variable name as lower case. 
5. IN python don't use the varibale name as list, str

In [16]:
type(a)

int

In [17]:
a = 1.5

In [18]:
type(a)

float