In [1]:
# range 


range(0, 11)

range(0, 11)

In [5]:
lst  = list(range(0,11))

In [6]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# slicing [stIndex, enIndex, JumpParameter]

lst = list(range(0, 11, 2))

In [9]:
lst

[0, 2, 4, 6, 8, 10]

In [19]:
# zip

lst1 = [1, 3, 5, 7, 9, 11]
lst2 = [2, 4, 6, 8, 10]

lst = list(zip(lst1, lst2))

In [21]:
for t1, t2 in lst:
   # print(tup)
   print("Hii value of the t1 is {0} and value of 2 is {1}".format(t1, t2))

Hii value of the t1 is 1 and value of 2 is 2
Hii value of the t1 is 3 and value of 2 is 4
Hii value of the t1 is 5 and value of 2 is 6
Hii value of the t1 is 7 and value of 2 is 8
Hii value of the t1 is 9 and value of 2 is 10

In [23]:
# in 

# True or False 

6 in [1, 2, 3, 4, 5]

False

In [25]:
# Not in 

# in 

# True or False 

6 not in [1, 2, 3, 4, 5, 6]

False

In [26]:
lst = [67, 80, 95, 20, 4, 99]

min(lst)

4

In [27]:
max(lst)

99

In [28]:
str = "abcde"
min(str)

'a'

In [29]:
max(str)

'e'

In [30]:
lst = [1, 2, 3, 4, 5, 6]

In [31]:
from random import shuffle

shuffle(lst)

In [32]:
lst

[6, 4, 2, 3, 5, 1]

In [33]:
from random import randint

randint(0, 100)

9

In [38]:
randint(0, 100) # [st, en] -> both are included

70

In [44]:
name = input("Enter your name : ")

In [45]:
name

'somendra'